$pryme: #4d83c2;
$base: #4f4e61;
$second: #78a1ad;

$light-grey: #9aa0a7;

$border: #74c22c;

$pink: #f07474;
$red: #f36262;



$blue: #132743;

$white: #eeecda;
$gold: #edc988;
$green: #74c22c;
$yellow: #e0e74d;

